@charset "UTF-8";
/*général*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/*HEADER*/
.omf-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omf-header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 1rem;
}

/*FOOTER*/
.omf-footer {
  background-color: #323232;
  color: #fff;
}

.omf-footer__contentbox {
  margin: 0 2rem;
  padding: 1rem 0;
}

.omf-footer__heading {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

.omf-footer__lign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

.omf-footer__icon {
  width: 1rem;
  margin-right: 1rem;
}

.omf-footer__text {
  height: 2rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*SECTION1*/
.omf-resa {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -1px 5px #cfcfcf;
          box-shadow: 0px -1px 5px #cfcfcf;
  padding-bottom: 2rem;
}

.omf-resa__townbox {
  width: 100%;
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omf-resa__towncontentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 11rem;
}

.omf-resa__town-content {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.omf-resa__contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.omf-resa__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.omf-resa__description {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

.omf-resa__btn {
  font-size: 1rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

.omf-resa__btn:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 5px 1px #505050;
          box-shadow: 1px 1px 5px 1px #505050;
}

/*SECTION2*/
.omf-fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 0 2rem;
}

.omf-fonct__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.omf-fonct__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  height: 4rem;
}

.omf-fonct__number-box {
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-right: -1rem;
  z-index: 1;
}

.fonct-contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  border-radius: 1rem;
  padding: 0 2rem;
  width: 80%;
  height: inherit;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

.fonct-contentbox:hover {
  background-color: #f2eafb;
}

.fonct-contentbox__icon {
  margin-right: 2rem;
  color: #323232;
}

.fonct-contentbox__content {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.fonct-contentbox:hover .fonct-contentbox__icon {
  color: #9356dc;
}

/*SECTION3*/
.omf-menus {
  background-color: #f7f7f7;
  padding: 1rem 0;
}

.omf-menus__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 2rem;
  padding: 1rem 0;
}

.omf-menus__contentbox {
  margin: 0 2rem;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-bottom: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  height: 25%;
  overflow: hidden;
  position: relative;
}

.omf-menus__img {
  height: 10rem;
}

.omf-menus__img span {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.omf-menus__captionbox {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omf-menus__textwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.omf-menus__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.omf-menus__place {
  font-size: 1rem;
  font-weight: bold;
  font-weight: normal;
  margin: 0;
}

.omf-menus__like:hover .omf-menus__like--bg {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  opacity: 1;
}

.omf-menus__like:hover.omf-menus__like--nobg {
  opacity: 0;
}

.omf-menus__like--bg {
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
}

.omf-menus__like--nobg {
  opacity: 1;
  position: absolute;
}

.omf-menus img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

/*TABLETTE*/
@media screen and (min-width: 480px) and (max-width: 1099px) {
  .omf-fonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .omf-fonct__heading {
    width: 100%;
  }
  .omf-fonct__wrapper {
    margin-right: 5%;
  }
  .omf-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .omf-menus__heading {
    width: 100%;
  }
  .omf-menus__contentbox {
    width: 40%;
  }
  .omf-menus__textwrap {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .omf-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .omf-footer__contentbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*DESKTOP*/
@media screen and (min-width: 1100px) {
  .omf-header__logo {
    font-size: 3rem;
  }
  .omf-fonct {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .omf-fonct__heading {
    width: 100%;
  }
  .omf-fonct__wrapper {
    width: 30%;
  }
  .omf-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .omf-menus__heading {
    width: 100%;
  }
  .omf-menus__contentbox {
    width: 40%;
  }
  .omf-menus__img {
    height: 15rem;
  }
  .omf-menus__captionbox {
    height: 4rem;
    margin: 1rem;
  }
  .omf-menus__textwrap {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .omf-footer {
    padding-bottom: 2rem;
  }
  .omf-footer__heading {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
  .omf-footer__contentbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=style.css.map */