/*FOOTER*/
.omf-footer {
    @include footer;
    @include tablette {
        display: flex;
        justify-content: center;
    }
    @include desktop {
        padding-bottom: 2rem;
    }
    &__contentbox {
        @include contentmarging();
        padding: 1rem 0;
        @include tablette {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
        @include desktop {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
    &__heading {
        @include logo;
        margin: 0;
        @include desktop {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
    }
    &__lign {
        display: flex;
        align-items: center;
        height: 2rem;
    }
    &__icon {
        width: 1rem;
        margin-right: 1rem;
    }
    &__text {
        height: 2rem;
        margin: 0;
        display: flex;
        align-items: center;
        color: inherit;
    }
}
