@charset "UTF-8";
/*général*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

/*FOOTER*/
.omf-footer {
  background-color: #323232;
  color: #fff;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 901px) {
  .omf-footer {
    padding-bottom: 2rem;
  }
}

.omf-footer__contentbox {
  margin-left: 1rem;
  padding: 1rem 0;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-footer__contentbox {
    margin: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 901px) {
  .omf-footer__contentbox {
    margin: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.omf-footer__heading {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

@media screen and (min-width: 901px) {
  .omf-footer__heading {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
}

.omf-footer__lign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

.omf-footer__icon {
  width: 1rem;
  margin-right: 1rem;
}

.omf-footer__text {
  height: 2rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.heart-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
}

.heart-container--nobg {
  position: absolute;
  border: 1px solid transparent;
}

.heart-container--bg {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  border: 1px solid transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heart-container:hover {
  cursor: pointer;
}

.heart-container:hover .heart-container--bg {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: inherit;
}

.heart-container:hover > .heart-container--nobg {
  color: transparent;
  -webkit-transition: 650ms;
  transition: 650ms;
}

/*
.heart-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    
    &--nobg {
        position: absolute;
        font-size: 25px;
        background-color: transparent;
        z-index: 2;
        position: absolute;
        transition-duration: 650ms;
        &:hover{
            color: transparent;
        }
        &:hover + .heart-container--bg{
            transform: scale(1);
        }
    }
    &--bg{
        background: -moz-linear-gradient(360deg, $primary, $second);
        background: -webkit-linear-gradient(360deg, $primary, $second);
        background: linear-gradient(360deg, $primary, $second);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        transform: scale(0);
        transition: transform 500ms;
        position: absolute;
        z-index: 1;
    }
}
*/
.menus-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

@media screen and (max-width: 640px) {
  .menus-header {
    margin: 0 1rem;
  }
}

.menus-header__logo {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 100%;
}

.menus-header__arrow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.5rem;
}

.btn .btn__content {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0px solid transparent;
  height: 3rem;
}

.btn .btn__content:active {
  cursor: pointer;
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 5px 1px #505050;
          box-shadow: 1px 1px 5px 1px #505050;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .btn .btn__content:active {
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-shadow: 1px 1px 5px 1px #505050;
            box-shadow: 1px 1px 5px 1px #505050;
  }
}

@media screen and (min-width: 901px) {
  .btn .btn__content:hover {
    cursor: pointer;
    opacity: 0.9;
    -webkit-box-shadow: 1px 1px 5px 1px #505050;
            box-shadow: 1px 1px 5px 1px #505050;
  }
}

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes translate {
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes translate {
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

.menus-banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}

.menus-container {
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  margin-top: -4rem;
}

.menus-contentbox {
  margin: 0 2rem;
  -webkit-animation: appear 1s both;
          animation: appear 1s both;
}

@media screen and (max-width: 640px) {
  .menus-contentbox {
    margin: 0 1rem;
  }
}

.menus-contentbox__heading {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.menus-contentbox__heading h1 {
  max-width: 90%;
}

.menus-contentbox__category {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (min-width: 901px) {
  .menus-contentbox__category {
    width: 100%;
  }
}

.menus-contentbox__category::after {
  content: "";
  background-color: #99e2d0;
  width: 3rem;
  height: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
}

@media screen and (min-width: 901px) {
  .menus-contentbox__entree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .menus-contentbox__meal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .menus-contentbox__desert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menus-contentbox--0 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.menus-contentbox--1 {
  -webkit-animation-delay: 0.33333;
          animation-delay: 0.33333;
}

.menus-contentbox--2 {
  -webkit-animation-delay: 0.66667;
          animation-delay: 0.66667;
}

.card {
  opacity: 0;
  -webkit-animation: appear 800ms both ease-in-out;
          animation: appear 800ms both ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.card--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.card--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.card--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.card--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.card--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.card--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.card--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.card--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.card--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@media screen and (min-width: 901px) {
  .card {
    width: 31%;
  }
}

.card:hover {
  cursor: pointer;
}

.card:hover .card--confirmation {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card:hover .card--confirmation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.card:hover .card__price {
  -webkit-transform: translate(-1rem);
          transform: translate(-1rem);
}

.card:hover .card__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}

.card:hover .card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}

.card__title {
  -webkit-transition: all 500ms ease-in-out 80ms;
  transition: all 500ms ease-in-out 80ms;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card__descriptionbox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.card__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 100;
  -webkit-transition: all 500ms 100ms;
  transition: all 500ms 100ms;
  width: 100%;
}

.card__price {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

.card--confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(5rem);
          transform: translate(5rem);
  width: 5rem;
  padding: 0;
  margin: -1rem;
  background-color: #99e2d0;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card--confirmation i {
  background-color: #fff;
  color: #99e2d0;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.card .btn {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=menu.css.map */