@charset "UTF-8";
/*général*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.omf-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omf-header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 1rem;
}

.menus-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

@media screen and (max-width: 640px) {
  .menus-header {
    margin: 0 1rem;
  }
}

.menus-header__logo {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 100%;
}

.menus-header__arrow {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.5rem;
}

/*FOOTER*/
.omf-footer {
  background-color: #323232;
  color: #fff;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 901px) {
  .omf-footer {
    padding-bottom: 2rem;
  }
}

.omf-footer__contentbox {
  margin-left: 1rem;
  padding: 1rem 0;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-footer__contentbox {
    margin: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 901px) {
  .omf-footer__contentbox {
    margin: 0 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.omf-footer__heading {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

@media screen and (min-width: 901px) {
  .omf-footer__heading {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2rem;
  }
}

.omf-footer__lign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

.omf-footer__icon {
  width: 1rem;
  margin-right: 1rem;
}

.omf-footer__text {
  height: 2rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: inherit;
}

.btn .btn__content {
  font-size: 1rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  color: #fff;
  border-radius: 2rem;
  padding: 0 1rem;
  margin: 1rem 0;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  border: 0px solid transparent;
  height: 3rem;
  cursor: pointer;
}

.btn .btn__content:hover {
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 5px 1px #505050;
          box-shadow: 1px 1px 5px 1px #505050;
}

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn--menupage .btn__content--menupage {
  padding: 0 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.heart-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.heart-container--nobg {
  position: absolute;
  border: 1px solid transparent;
}

.heart-container--bg {
  position: absolute;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  border: 1px solid transparent;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.heart-container:hover .heart-container--bg {
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
  position: inherit;
}

.heart-container:hover > .heart-container--nobg {
  color: transparent;
  -webkit-transition: 650ms;
  transition: 650ms;
}

/*SECTION1*/
.omf-resa {
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -1px 5px #cfcfcf;
          box-shadow: 0px -1px 5px #cfcfcf;
  padding-bottom: 2rem;
}

.omf-resa__townbox {
  width: 100%;
  background-color: #ededed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.omf-resa__towncontentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 11rem;
}

.omf-resa__town-content {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.omf-resa__contentbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap column;
          flex-flow: wrap column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2rem;
}

.omf-resa__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
  text-align: center;
}

.omf-resa__description {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

/*SECTION2*/
.omf-fonct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  counter-reset: numbers;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 2rem;
  margin-right: 3rem;
}

.omf-fonct__heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.omf-fonct__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-left: 1rem;
}

@media screen and (max-width: 640px) {
  .omf-fonct__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-fonct__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media screen and (min-width: 901px) {
  .omf-fonct__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.omf-fonct__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  height: 4rem;
}

@media screen and (max-width: 640px) {
  .omf-fonct__wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-fonct__wrapper {
    width: 40%;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 901px) {
  .omf-fonct__wrapper {
    width: 30%;
  }
}

.omf-fonct__wrapper::before {
  counter-increment: numbers;
  content: counter(numbers) "";
  background-color: #9356dc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  position: absolute;
  margin-left: -1rem;
}

.fonct-contentbox {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  border-radius: 1rem;
  padding: 0 2rem;
  width: 100%;
  height: inherit;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  counter-reset: countlist 1;
}

.fonct-contentbox:hover {
  background-color: #f2eafb;
}

.fonct-contentbox__icon {
  margin-right: 2rem;
  color: #323232;
}

.fonct-contentbox__content {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
}

.fonct-contentbox:hover .fonct-contentbox__icon {
  color: #9356dc;
}

/*SECTION3*/
.omf-menus {
  background-color: #f7f7f7;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-menus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2rem 1fr 2rem 1fr 2rem;
        grid-template-columns: 2rem 1fr 2rem 1fr 2rem;
    -ms-grid-rows: 4rem 1fr 2rem 1fr 2rem;
        grid-template-rows: 4rem 1fr 2rem 1fr 2rem;
  }
}

@media screen and (min-width: 901px) {
  .omf-menus {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2rem 1fr 2rem 1fr 2rem;
        grid-template-columns: 2rem 1fr 2rem 1fr 2rem;
    -ms-grid-rows: 4rem 1fr 2rem 1fr 2rem;
        grid-template-rows: 4rem 1fr 2rem 1fr 2rem;
  }
}

.omf-menus__heading {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 2rem;
  padding: 1rem 0;
}

.omf-menus__contentbox {
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  background-color: #fff;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 640px) {
  .omf-menus__contentbox {
    margin: 0 2rem;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-menus__contentbox--1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .omf-menus__contentbox--2 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .omf-menus__contentbox--3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .omf-menus__contentbox--4 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

@media screen and (min-width: 901px) {
  .omf-menus__contentbox--1 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .omf-menus__contentbox--2 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .omf-menus__contentbox--3 {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .omf-menus__contentbox--4 {
    -ms-grid-column: 4;
    grid-column: 4;
    -ms-grid-row: 4;
    grid-row: 4;
  }
}

.omf-menus__img {
  height: 10rem;
}

@media screen and (min-width: 901px) {
  .omf-menus__img {
    height: 15rem;
  }
}

.omf-menus__img span {
  background-color: #99e2d0;
  color: #1b6150;
  position: absolute;
  right: 5%;
  top: 5%;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;
}

.omf-menus__captionbox {
  margin: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 901px) {
  .omf-menus__captionbox {
    height: 4rem;
    margin: 1rem;
  }
}

.omf-menus__textwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

@media screen and (min-width: 641px) and (max-width: 900px) {
  .omf-menus__textwrap {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 901px) {
  .omf-menus__textwrap {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.omf-menus__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}

.omf-menus__place {
  font-size: 1rem;
  font-weight: bold;
  font-weight: normal;
  margin: 0;
}

.omf-menus img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

.omf-footer__contentbox {
  margin-left: 2rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -1;
  opacity: 0;
  -webkit-animation: load 3s ease-out;
          animation: load 3s ease-out;
}

.load {
  width: 10rem;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.load__bar {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  -webkit-animation: scale 2s backwards ease-in-out alternate, translate 0.8s 3 alternate ease-in-out;
          animation: scale 2s backwards ease-in-out alternate, translate 0.8s 3 alternate ease-in-out;
}

.load__bar--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.load__bar--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.load__bar--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.load__bar--1 {
  background-color: #9356dc;
}

.load__bar--2 {
  background-color: #ff79da;
}

.load__bar--3 {
  background-color: #99e2d0;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@keyframes scale {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
}

@-webkit-keyframes translate {
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@keyframes translate {
  50% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}

.menus-banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 20rem;
}

.menus-container {
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  margin-top: -4rem;
}

.menus-contentbox--0 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.menus-contentbox--1 {
  -webkit-animation-delay: 0.33333;
          animation-delay: 0.33333;
}

.menus-contentbox--2 {
  -webkit-animation-delay: 0.66667;
          animation-delay: 0.66667;
}

.menus-contentbox {
  margin: 0 2rem;
  -webkit-animation: appear 1s both;
          animation: appear 1s both;
}

@media screen and (max-width: 640px) {
  .menus-contentbox {
    margin: 0 1rem;
  }
}

.menus-contentbox__heading {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0.9rem;
}

.menus-contentbox__heading h1 {
  max-width: 90%;
}

.menus-contentbox__category {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  font-weight: 100;
}

@media screen and (min-width: 901px) {
  .menus-contentbox__category {
    width: 100%;
  }
}

.menus-contentbox__category::after {
  content: "";
  background-color: #99e2d0;
  width: 3rem;
  height: 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem 0;
}

@media screen and (min-width: 901px) {
  .menus-contentbox__entree {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .menus-contentbox__meal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 901px) {
  .menus-contentbox__desert {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.card {
  cursor: pointer;
  opacity: 0;
  -webkit-animation: appear 800ms both ease-in-out;
          animation: appear 800ms both ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.card--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.card--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.card--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.card--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.card--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.card--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.card--8 {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
}

.card--9 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.card--10 {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}

@media screen and (min-width: 901px) {
  .card {
    width: 31%;
  }
}

.card:hover .card--confirmation {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.card:hover .card--confirmation i {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}

.card:hover .card__price {
  -webkit-transform: translate(-1rem);
          transform: translate(-1rem);
}

.card:hover .card__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}

.card:hover .card__title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
}

.card__title {
  -webkit-transition: all 500ms ease-in-out 80ms;
  transition: all 500ms ease-in-out 80ms;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

.card__descriptionbox {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 100%;
}

.card__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  margin: 0;
  font-weight: 100;
  -webkit-transition: all 500ms 100ms;
  transition: all 500ms 100ms;
  width: 100%;
}

.card__price {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  -webkit-transform: translate(1rem);
          transform: translate(1rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transition-delay: 80ms;
          transition-delay: 80ms;
}

.card--confirmation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(5rem);
          transform: translate(5rem);
  width: 5rem;
  padding: 0;
  margin: -1rem;
  background-color: #99e2d0;
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
}

.card--confirmation i {
  -webkit-transform: rotate(0);
          transform: rotate(0);
  background-color: #fff;
  color: #99e2d0;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.card .btn__content {
  padding: 0 2rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}
/*# sourceMappingURL=menu.css.map */