@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/base";
@import "./sass/layout/footer";
@import "./sass/composants/heart";
@import "./sass/layout/header--arrow";
@import "./sass/composants/button.scss";

.menus-banner {
    &__img {
        width: 100%;
        object-fit: cover;
    }
}

.menus-container {
    background-color: $backgroundlight;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    position: relative;
    margin-top: -4rem;
}
.menus-contentbox {
    @include contentmarging;
    padding-bottom: 2rem;

    &__heading {
        @include logo;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__category {
        text-transform: uppercase;
        font-weight: normal;
        font-size: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 3px solid $third;
        width: 3rem;
        font-weight: 100;
    }
    &__contentbox {
        box-sizing: border-box;
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        box-shadow: 1px 1px 5px 1px #cfcfcf;
        margin-bottom: 1rem;
        background-color: #fff;
        border-radius: 1rem;
        padding: 1rem;
        overflow: hidden;

        &:hover {
            .menus-contentbox__right {
                transform: translateX(-5rem);
                margin-right: -1rem;
            }
            .menus-contentbox__description {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                max-width: 220px;
            }
        }
        &:hover .menus-contentbox--confirmation i {
            transform: rotate(360deg);
        }
    }
    &__title {
        @include subtitle;
        margin: 0;
        padding-bottom: 0.5rem;
        max-width: 270px;
        transition: all 250ms;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__descriptionbox {
        display: flex;
        flex-flow: column wrap;
    }
    &__description {
        margin: 0;
        font-weight: 100;
        max-width: 270px;
        transition: all 250ms;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__right {
        display: flex;
        flex-flow: row wrap;
        transition: all ease-in-out 0.5s;
    }
    &__price {
        @include subtitle;
        margin: 0;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: #fff;
        width: 2rem;
    }
    &--confirmation {
        margin: -1rem -5rem -1rem 1rem;
        width: 4rem;
        background-color: $third;
        display: flex;
        justify-content: center;
        align-items: center;

        & i {
            background-color: #fff;
            color: $third;
            border: 1px solid #fff;
            border-radius: 2rem;
            padding: 0.5rem;
            transition-duration: 1s;
        }
    }
}

.omf-footer {
    display: flex;
    justify-content: center;
}
