@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/base";
@import "./sass/layout/header";
@import "./sass/layout/footer";
@import "./sass/composants/button.scss";
@import "./sass/composants/heart.scss";
@import "./sass/pages/homepage.scss";

/*TABLETTE*/
@media screen and (min-width: 480px) and (max-width: 1099px) {
    .omf-fonct {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;

        &__heading {
            width: 100%;
        }
        &__wrapper {
            margin-right: 5%;
        }
    }

    .omf-menus {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &__heading {
            width: 100%;
        }
        &__contentbox {
            width: 40%;
        }

        &__textwrap {
            height: inherit;
            display: flex;
            justify-content: space-around;
        }
    }
    .omf-footer {
        display: flex;
        justify-content: center;
        &__contentbox {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
    }
}
/*DESKTOP*/
@media screen and (min-width: 1100px) {
    .omf-header {
        &__logo {
            font-size: 3rem;
        }
    }
    .omf-fonct {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        &__heading {
            width: 100%;
        }
        &__wrapper {
            width: 30%;
        }
    }
    .omf-menus {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &__heading {
            width: 100%;
        }
        &__contentbox {
            width: 40%;
        }
        &__img {
            height: 15rem;
        }
        &__captionbox {
            height: 4rem;
            margin: 1rem;
        }
        &__textwrap {
            height: inherit;
            display: flex;
            justify-content: space-around;
        }
    }
    .omf-footer {
        padding-bottom: 2rem;
        &__heading {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
        &__contentbox {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
}
