@import "./sass/utils/variables";
@import "./sass/utils/mixins";
@import "./sass/base/base";
@import "./sass/layout/header";
@import "./sass/layout/footer";

/*SECTION1*/
.omf-resa {
    background-color: $backgroundlight;
    @include resa-flexstyle;
    box-shadow: 0px -1px 5px #cfcfcf;
    padding-bottom: 2rem;
    &__townbox {
        width: 100%;
        background-color: #ededed;
        @include flex-center;
    }

    &__towncontentbox {
        @include flex-center;
        justify-content: flex-start;

        width: 11rem;
    }
    &__town-content {
        @include subtitle;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    &__contentbox {
        @include resa-flexstyle();
        @include contentmarging();
    }
    &__heading {
        @include heading-sections;
        margin-top: 2rem;
        text-align: center;
    }
    &__description {
        font-weight: normal;
        font-size: 1rem;
        text-align: center;
    }
    &__btn {
        @include subtitle;
        background: linear-gradient($second, $primary);
        color: #fff;
        border-radius: 2rem;
        padding: 0 1rem;
        margin: 1rem 0;
        box-shadow: 1px 1px 5px 1px #cfcfcf;
        transition: all 250ms;
        &:hover {
            opacity: 0.9;
            box-shadow: 1px 1px 5px 1px darken($color: #cfcfcf, $amount: 50);
        }
    }
}

/*SECTION2*/
.omf-fonct {
    display: flex;
    flex-flow: column wrap;
    @include contentmarging();
    &__heading {
        @include heading-sections;
    }
    &__wrapper {
        @include flex-center;
        margin-bottom: 2rem;
        height: 4rem;
    }
    &__number-box {
        background-color: $primary;
        @include flex-center;
        color: #fff;
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
        margin-right: -1rem;
        z-index: 1;
    }
}

.fonct-contentbox {
    display: flex;
    align-items: center;
    background-color: $backgroundlight;
    box-shadow: 1px 1px 5px 1px #cfcfcf;
    border-radius: 1rem;
    padding: 0 2rem;
    width: 80%;
    height: inherit;
    transition: all 0.25s;
    &:hover {
        background-color: lighten($color: $primary, $amount: 35);
    }
    &__icon {
        margin-right: 2rem;
        color: #323232;
    }
    &__content {
        @include subtitle;
        width: 100%;
    }
}

.fonct-contentbox:hover .fonct-contentbox__icon {
    color: $primary;
}
/*SECTION3*/
.omf-menus {
    background-color: $backgroundlight;
    padding: 1rem 0;
    &__heading {
        @include heading-sections;
        @include contentmarging();
        padding: 1rem 0;
    }
    &__contentbox {
        @include contentmarging();
        box-shadow: 1px 1px 5px 1px #cfcfcf;
        margin-bottom: 2rem;
        background-color: #fff;
        border-radius: 1rem;
        height: 25%;
        overflow: hidden;
        position: relative;
    }
    &__img {
        height: 10rem;
    }
    &__img span {
        background-color: $third;
        color: darken($third, 50);
        position: absolute;
        right: 5%;
        top: 5%;
        padding: 0.5rem;
        border-radius: 0.2rem;
        font-size: 0.8rem;
    }
    &__captionbox {
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__textwrap {
        display: flex;
        flex-flow: column wrap;
    }
    &__title {
        @include subtitle;
        margin: 0;
    }
    &__place {
        @include subtitle;
        font-weight: normal;
        margin: 0;
    }
    &__like {
        &:hover {
            & .omf-menus__like--bg {
                transition: opacity 250ms;
                opacity: 1;
            }
            &.omf-menus__like--nobg {
                opacity: 0;
            }
        }
        &--bg {
            opacity: 0;
            background: linear-gradient($primary, $second);
            background-clip: text;
        }
        &--nobg {
            opacity: 1;

            position: absolute;
        }
    }
}
.omf-menus img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/*TABLETTE*/
@media screen and (min-width: 480px) and (max-width: 1099px) {
    .omf-fonct {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;

        &__heading {
            width: 100%;
        }
        &__wrapper {
            margin-right: 5%;
        }
    }

    .omf-menus {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &__heading {
            width: 100%;
        }
        &__contentbox {
            width: 40%;
        }

        &__textwrap {
            height: inherit;
            display: flex;
            justify-content: space-around;
        }
    }
    .omf-footer {
        display: flex;
        justify-content: center;
        &__contentbox {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
        }
    }
}
/*DESKTOP*/
@media screen and (min-width: 1100px) {
    .omf-header {
        &__logo {
            font-size: 3rem;
        }
    }
    .omf-fonct {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        &__heading {
            width: 100%;
        }
        &__wrapper {
            width: 30%;
        }
    }
    .omf-menus {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        &__heading {
            width: 100%;
        }
        &__contentbox {
            width: 40%;
        }
        &__img {
            height: 15rem;
        }
        &__captionbox {
            height: 4rem;
            margin: 1rem;
        }
        &__textwrap {
            height: inherit;
            display: flex;
            justify-content: space-around;
        }
    }
    .omf-footer {
        padding-bottom: 2rem;
        &__heading {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 2rem;
        }
        &__contentbox {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
        }
    }
}
