.btn .btn__content{
    @include subtitle;
    @include resa-flexstyle;
    @include contentmarging;
    background: linear-gradient($second, $primary);
    color: #fff;
    border-radius: 2rem;
    padding: 0 1rem;
    margin: 1rem 0;
    box-shadow: 1px 1px 5px 1px #cfcfcf;
    transition: all 250ms;
    border: 0px solid transparent;
    height: 3rem;
    &:hover {
        cursor: pointer;
        opacity: 0.9;
        box-shadow: 1px 1px 5px 1px darken($color: #cfcfcf, $amount: 50);
    }
    
}
.btn{
    width: 100%;
    display: flex;
    justify-content: center;
}
