.heart-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    background-color: white;

    &:hover {
        cursor: pointer;
        & .heart-container--bg {
            background: linear-gradient($primary, $second);
            transition: all 0.5s ease-in-out;
            transform: scale(1);
            opacity: 1;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        > .heart-container--nobg {
            transition: opacity 1s;
            opacity: 0;
        }
    }
    &--nobg {
        position: absolute;
        opacity: 1;
    }
    &--bg {
        position: absolute;
       opacity: 0;

    }
}
