.heart-container {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    &--nobg {
        position: absolute;
        border: 1px solid transparent;
    }
    &--bg {
        position: absolute;
        transform: scale(0);
        background: linear-gradient($primary, $second);
        border: 1px solid transparent;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    &:hover {
        & .heart-container--bg {
            transition: transform 0.5s ease-in-out;
            transform: scale(1);
            position: inherit;
        }
        > .heart-container--nobg {
            color: transparent;
            transition: 650ms;
        }
    }
}
