.container {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
    animation: load 3s ease-out;
}
.load {
    width: 10rem;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

    &__bar {
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        animation: scale 2s backwards ease-in-out alternate,
            translate 0.8s 3 alternate ease-in-out;

        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 200ms * $i;
            }
        }
        &--1 {
            background-color: $primary;
        }
        &--2 {
            background-color: $second;
        }
        &--3 {
            background-color: $third;
        }
    }
}
