@charset "UTF-8";
/*général*/
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menus-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
}

.menus-header__logo {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  width: 100%;
}

.menus-header__icon {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.5rem;
}

.menus-banner__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menus-container {
  background-color: #f7f7f7;
  border-radius: 2rem 2rem 0 0;
  z-index: 1;
  position: relative;
  margin-top: -4rem;
}

.menus-contentbox {
  margin: 0 1rem;
  padding-bottom: 2rem;
}

.menus-contentbox__heading {
  font-family: "Shrikhand", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menus-contentbox__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.menus-contentbox__icon:hover .menus-contentbox__icon--bg {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  background: linear-gradient(#9356dc, #ff79da);
  -webkit-transition: all 1s;
  transition: all 1s;
  opacity: 1;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menus-contentbox__icon:hover > .menus-contentbox__icon--nobg {
  -webkit-transition: all 250ms;
  transition: all 250ms;
  opacity: 0;
}

.menus-contentbox__icon--nobg {
  position: absolute;
  opacity: 1;
}

.menus-contentbox__icon--bg {
  position: absolute;
  opacity: 0;
}

.menus-contentbox__category {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #99e2d0;
  width: 3rem;
  font-weight: 100;
}

.menus-contentbox__contentbox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 1px 1px 5px 1px #cfcfcf;
          box-shadow: 1px 1px 5px 1px #cfcfcf;
  margin-bottom: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  overflow: hidden;
}

.menus-contentbox__contentbox:hover .menus-contentbox__right {
  -webkit-transform: translateX(-5rem);
          transform: translateX(-5rem);
  margin-right: -1rem;
}

.menus-contentbox__contentbox:hover .menus-contentbox__description {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 220px;
}

.menus-contentbox__contentbox:hover .menus-contentbox--confirmation i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menus-contentbox__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding-bottom: 0.5rem;
  max-width: 270px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menus-contentbox__descriptionbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.menus-contentbox__description {
  margin: 0;
  font-weight: 100;
  max-width: 270px;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menus-contentbox__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.menus-contentbox__price {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-color: #fff;
  width: 2rem;
}

.menus-contentbox--confirmation {
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menus-contentbox--confirmation i {
  background-color: #fff;
  color: #99e2d0;
  border: 1px solid #fff;
  border-radius: 2rem;
  padding: 0.5rem;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.menus-contentbox__contentbox .omf-footer {
  background-color: #323232;
  color: #fff;
}

.menus-contentbox__contentbox .omf-footer__contentbox {
  margin: 0 1rem;
  padding: 1rem 0;
}

.menus-contentbox__contentbox .omf-footer__heading {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

.menus-contentbox__contentbox .omf-footer__lign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2rem;
}

.menus-contentbox__contentbox .omf-footer__icon {
  width: 1rem;
  margin-right: 1rem;
}

.menus-contentbox__contentbox .omf-footer__text {
  height: 2rem;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=menu.css.map */