@mixin logo {
    font-family: "Shrikhand", cursive;
}

@mixin heading-sections {
    font-size: 1.5rem;
    font-weight: bold;
}
@mixin subtitle {
    font-size: 1rem;
    font-weight: bold;
}
@mixin resa-flexstyle {
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
}
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin footer {
    background-color: #323232;
    color: #fff;
}
@mixin contentmarging {
    margin: 0 2rem;
}
@mixin gradient-light {
    background: rgba(255, 255, 255, 0);
}
@mixin gradient-dark {
    background: linear-gradient($second, $primary);
}
@mixin ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
@mixin mobile {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin tablette {
    @media screen and (min-width: 641px) and (max-width: 900px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: map-get($map: $breakpoints, $key: desktop )) {
        @content;
    }
}
@mixin grid-homepage {
    &--1 {
        grid-column: 2;
        grid-row: 2;
    }
    &--2 {
        grid-column: 4;
        grid-row: 2;
    }
    &--3 {
        grid-column: 2;
        grid-row: 4;
    }
    &--4 {
        grid-column: 4;
        grid-row: 4;
    }
}
@mixin grid-templates {
    display: grid;
    grid-template-columns: 2rem 1fr 2rem 1fr 2rem;
    grid-template-rows: 4rem 1fr 2rem 1fr 2rem;
}
@mixin menupage-flex-sections {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
