$primary: #9356dc;
$second: #ff79da;
$third: #99e2d0;
$backgroundlight: #f7f7f7;
$degrade: linear-gradient($second, $primary);
$size: 3vh;
$shadow: 1px 1px 5px 1px #cfcfcf;
$breakpoints: (
    mobile: 480px,
    desktop: 1100px,
);
